@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.CropOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	z-index: 5;

	&_boundary {
		width: 80%;
		height: 60%;
		border: 2px solid map-get($map: $redMap, $key: "500");
		border-radius: 0.5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: transparent;
		-webkit-box-shadow: 3px 2px 100px 1500px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 3px 2px 100px 1500px rgba(0, 0, 0, 0.75);
		box-shadow: 3px 2px 100px 1500px rgba(0, 0, 0, 0.75);
		z-index: 10;
	}
}
