@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ImagePreview {
	min-width: 10rem;
	min-height: 10rem;
	border-radius: 0.5rem;
	border: none;

	&_img {
		@include fill_container;
		border: none;
		border-radius: 0.5rem;
	}
}
