@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ImagePreview {
	width: 10rem;
	height: 10rem;
	border-radius: 0.5rem;
	border: none;

	&_img {
		border: none;
		@include fill_container;
		border-radius: 0.5rem;
	}
}
