@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.EditorPanel {
	width: 120rem;
	height: 60rem;
	border-radius: 0.5rem;
	border: 1px solid #111;
	background-color: rgba(5, 5, 5, 1);
	display: block;
}

@media only screen and (max-width: 1200px) {
	.EditorPanel {
		width: 100%;
	}
}
