@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.EditorButton {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	@include flex_row(center, center);
	background-color: map-get($map: $primaryColors, $key: "main");
	border: none;
	outline: none;
	margin: 0 1rem;
	box-shadow: map-get($map: $primaryColors, $key: "shadowBorder");
	&:hover {
		cursor: pointer;
		border: 1px solid #ffffff;
	}

	&_icon {
		width: 3rem;
		height: 3rem;
		fill: #ffffff;
	}
}
