@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Editor {
	width: 120rem;
	height: auto;
	border-radius: 0.5rem;

	&_controls {
		width: 100%;

		&_reset {
			padding: 0.5rem 1.2rem;
			border-radius: 5rem;
			margin: 1rem 1rem;
			background-color: map-get($map: $redMap, $key: "600");
			color: #ffffff;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}

	&_window {
		background-color: map-get($map: $primaryColors, $key: "main");
		width: 120rem;
		height: 70rem;
		position: relative;
		border-radius: 0.5rem;
	}
	&_thumbnails {
		width: 100%;
		height: auto;
		min-height: 10rem;
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 1200px) {
	.Editor {
		width: 100%;
		height: 70rem;

		&_window {
			width: 100%;
			height: 70rem;
		}
	}
}
