@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.EditorCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	background-color: transparent;
	z-index: 1;
	&_canvas {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		z-index: 1;
	}
}
